html{
  font-size: 50px;
}

#mobileheader{
  flex: 1;
  background-color: #f6f6f6;
}

#mobileheader header{
  border-bottom: 1px solid #2db7f5;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

#mobileheader header img{
  height: 50px;
}

#mobileheader header span{
  font-size: 35px;
  vertical-align: top;
  padding: 0 10px;
  color: #2db7f5;
  flex:1
}

#mobileheader header i{
  font-size: 0.5rem;
  color: #2db7f5;
}